### Importing all the libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as snb
from sklearn.model_selection import train_test_split

### Load file from the local storage

In [2]:
automobile =pd.read_csv('auto-mpg.csv')

top 5 record

In [3]:
automobile.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [5]:
automobile.drop('car name',axis=1)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,18.0,8,307.0,130,3504,12.0,70,1
1,15.0,8,350.0,165,3693,11.5,70,1
2,18.0,8,318.0,150,3436,11.0,70,1
3,16.0,8,304.0,150,3433,12.0,70,1
4,17.0,8,302.0,140,3449,10.5,70,1
5,15.0,8,429.0,198,4341,10.0,70,1
6,14.0,8,454.0,220,4354,9.0,70,1
7,14.0,8,440.0,215,4312,8.5,70,1
8,14.0,8,455.0,225,4425,10.0,70,1
9,15.0,8,390.0,190,3850,8.5,70,1
10,15.0,8,383.0,170,3563,10.0,70,1
11,14.0,8,340.0,160,3609,8.0,70,1
12,15.0,8,400.0,150,3761,9.5,70,1
13,14.0,8,455.0,225,3086,10.0,70,1
14,24.0,4,113.0,95,2372,15.0,70,3
15,22.0,6,198.0,95,2833,15.5,70,1
16,18.0,6,199.0,97,2774,15.5,70,1
17,21.0,6,200.0,85,2587,16.0,70,1
18,27.0,4,97.0,88,2130,14.5,70,3
19,26.0,4,97.0,46,1835,20.5,70,2
20,25.0,4,110.0,87,2672,17.5,70,2
21,24.0,4,107.0,90,2430,14.5,70,2
22,25.0,4,104.0,95,2375,17.5,70,2
23,26.0,4,121.0,113,2234,12.5,70,2
24,21.0,6,199.0,90,2648,15.0,70,1
25,10.0,8,360.0,215,4615,14.0,70,1
26,10.0,8,307.0,200,4376,15.0,70,1
27,11.0,8,318.0,210,4382,13.5,70,1
28,9.0,8,304.0,193,4732,18.5,70,1
29,27.0,4,97.0,88,2130,14.5,71,3
...,...,...,...,...,...,...,...,...
368,27.0,4,112.0,88,2640,18.6,82,1
369,34.0,4,112.0,88,2395,18.0,82,1
370,31.0,4,112.0,85,2575,16.2,82,1
371,29.0,4,135.0,84,2525,16.0,82,1
372,27.0,4,151.0,90,2735,18.0,82,1
373,24.0,4,140.0,92,2865,16.4,82,1
374,23.0,4,151.0,?,3035,20.5,82,1
375,36.0,4,105.0,74,1980,15.3,82,2
376,37.0,4,91.0,68,2025,18.2,82,3
377,31.0,4,91.0,68,1970,17.6,82,3
378,38.0,4,105.0,63,2125,14.7,82,1
379,36.0,4,98.0,70,2125,17.3,82,1
380,36.0,4,120.0,88,2160,14.5,82,3
381,36.0,4,107.0,75,2205,14.5,82,3
382,34.0,4,108.0,70,2245,16.9,82,3
383,38.0,4,91.0,67,1965,15.0,82,3
384,32.0,4,91.0,67,1965,15.7,82,3
385,38.0,4,91.0,67,1995,16.2,82,3
386,25.0,6,181.0,110,2945,16.4,82,1
387,38.0,6,262.0,85,3015,17.0,82,1
388,26.0,4,156.0,92,2585,14.5,82,1
389,22.0,6,232.0,112,2835,14.7,82,1
390,32.0,4,144.0,96,2665,13.9,82,3
391,36.0,4,135.0,84,2370,13.0,82,1
392,27.0,4,151.0,90,2950,17.3,82,1
393,27.0,4,140.0,86,2790,15.6,82,1
394,44.0,4,97.0,52,2130,24.6,82,2
395,32.0,4,135.0,84,2295,11.6,82,1
396,28.0,4,120.0,79,2625,18.6,82,1
397,31.0,4,119.0,82,2720,19.4,82,1

In [6]:
automobile['origin'] = automobile['origin'].replace({1:'america',2:'europe',3:'asia'})

In [7]:
automobile.describe()

,mpg,cylinders,displacement,weight,acceleration,model year
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000

In [8]:
automobile.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,america,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,america,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,america,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,america,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,america,ford torino

In [9]:
automobile = automobile.drop('car name',axis=1)

In [10]:
automobile.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,18.0,8,307.0,130,3504,12.0,70,america
1,15.0,8,350.0,165,3693,11.5,70,america
2,18.0,8,318.0,150,3436,11.0,70,america
3,16.0,8,304.0,150,3433,12.0,70,america
4,17.0,8,302.0,140,3449,10.5,70,america

In [11]:
automobile = pd.get_dummies(automobile,columns=['origin'])

In [12]:
automobile.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin_america,origin_asia,origin_europe
0,18.0,8,307.0,130,3504,12.0,70,1,0,0
1,15.0,8,350.0,165,3693,11.5,70,1,0,0
2,18.0,8,318.0,150,3436,11.0,70,1,0,0
3,16.0,8,304.0,150,3433,12.0,70,1,0,0
4,17.0,8,302.0,140,3449,10.5,70,1,0,0